<!DOCTYPE html>
@model List<Chakram>
<html>
<head>
   

    <style>
        body {
            background-image: url('/resimler/uefa_still002.jpg');
            background-size: cover;
            background-color: black; 
            color: white; 
        }

        table {
            width: 100%; 
            margin-top: 40px; 
            border-collapse: separate; 
            border-spacing: 10px; 
        }

        th, td {
            padding: 12px 20px; 
            text-align: center; 
            font-size: 20px; 
            color: white; 
            border-bottom: 0; 
        }

        .card-img-top {
            max-width: 150px; 
            max-height: 150px; 
        }

        .details-button {
            background-color: darkslategray; 
            color: white; 
            border: none; 
            padding: 5px 10px; 
            border-radius: 5; 
            font-size: 18; 
        }
    </style>
</head>
<body>

    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Goal/Assist</th>
                    <th>Trophies</th>
                    <th>Photo</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.Surname</td>
                        <td>@item.goal_assist</td>
                        <td>@item.trophies</td>
                        <td><img src="@item.foto_1" class="card-img-top img-fluid" alt="Character Image" style="max-width: 150px; max-height: 150px;" onerror="this.style.display='none';"></td>
                        <td>
                            <a asp-controller="Chakram" asp-action="details" asp-route-Id="@item.Id" class="btn btn-primary" style="color: darkgray;">Click to see more Details</a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>

    <script>
        function showDetails(itemId) {
           
            console.log("Clicked item ID: " + itemId);
            
        }
    </script>
</body>
</html>
